{% extends 'main_menu.html' %}

{% block content %}

{% include 'flash.html' %}

<div class="well">
    <h3>Registration</h3>
    <form class="form" action="" method="post" name="registration">
        {{form.hidden_tag()}}
        <div class="control-group{% if form.errors.login %} error{% endif %}">
            <label class="control-label" for="login">Login</label>
            <div class="controls">
                {{form.login(size = 80, class="span4")}} 
                {% for error in form.errors.login %}
                    <span class="help-inline">[{{error}}]</span><br/>
                {% endfor %} 
            </div>
        </div>
        <div class="control-group{% if form.errors.email %} error{% endif %}">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                {{form.email(size = 80, class="span4")}} 
                {% for error in form.errors.email %}
                    <span class="help-inline">[{{error}}]</span><br/>
                {% endfor %} 
            </div>
        </div>
        <div class="control-group{% if form.errors.password %} error{% endif %}">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                {{form.password(size = 80, class="span4")}} 
                {% for error in form.errors.password %}
                    <span class="help-inline">[{{error}}]</span><br/>
                {% endfor %} 
            </div>
        </div>
        <div class="control-group{% if form.errors.confirm %} error{% endif %}">
            <label class="control-label" for="confirm">Confirm password</label>
            <div class="controls">
                {{form.confirm(size = 80, class="span4")}} 
                {% for error in form.errors.confirm %}
                    <span class="help-inline">[{{error}}]</span><br/>
                {% endfor %} 
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                 <label>{{form.accept_rules}} Accept rules </label> 
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Finish"/>
            </div>
        </div>
    </form>
</div>

{% endblock %}
