{% extends 'main_menu.html' %}

{% block content %}

{% include 'flash.html' %}

<div class="well well-large" >
    <h1>User: {{user.nickname}}</h1>
    {% if user.about %}<p>{{user.about}}</p>{% endif %}
    {% if user.last_seen %}<p>Last seen: {{user.last_seen}}</p>{% endif %}
    <p>{{user.followers.count()}} followers </p>
    
    {% if user.id == g.user.id %}<a href="{{url_for('edit')}}">Edit</a>    
    {% elif not g.user.is_following(user) %}<a href="{{url_for('follow', nickname = user.nickname)}}">Follow</a>
    {% else %}<a href="{{url_for('unfollow', nickname = user.nickname)}}">Unfollow</a>
    {% endif %}
    </p>
</div>

{% for post in posts.items %}
    {% include 'post.html' %}
{% endfor %}

{% include 'pager.html' %}

{% endblock %}
